<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asilaydying.dorothy" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dorothy_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryList"
            android:label="@string/title_activity_category_list" >
        </activity>
        <activity
            android:name=".Second"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".Kategoriak"
            android:label="@string/title_activity_kategoriak" >
        </activity>
        <activity
            android:name=".Etelek"
            android:label="@string/title_activity_etelek" >
        </activity>
        <activity
            android:name=".EtelekReszlet"
            android:label="@string/title_activity_etelek_reszlet"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".Kosar"
            android:label="@string/title_activity_kosar" >
        </activity>
        <activity
            android:name=".CimValasztas"
            android:label="@string/title_activity_cim_valasztas"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".Megerosites"
            android:label="@string/title_activity_megerosites" >
        </activity>
    </application>

</manifest>
